# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.eggs/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Environment
.env


# Testing
.pytest_cache/


# Project specific
lightning_logs/
.gradio/