accelerate
albumentations<2.0
deepforest
fastapi
geopandas
google-genai
google-generativeai
gradio
gradio-image-annotation
langchain
langchain-community
langchain-google-genai
langchain-huggingface
langgraph
matplotlib
numpy
rtree
num2words
openai
opencv-python
outlines
pandas
scikit-learn
pillow
plotly
pydantic
pydantic-settings
pytest
pytest-cov
python-dotenv
pyyaml
qwen-vl-utils
rasterio
requests
scikit-image
seaborn
shapely
streamlit
torch
torchvision
tqdm
transformers
bitsandbytes